   .header{
      text-align:center;
      color:black;
      font-size:75px;
      font-family: Edwardian Script ITC;
    }
    body{
      background-color: #dda0dd;
      text-align:center;
    }
    p{
      font-size:20px;
    }
      .topnav {
    background-color: #dda0dd;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 0px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: black;
    }
    .content{
      background-color:white;
      width:90%;
      max-width:1000px;
      margin:auto;
    }
